<%= select_tag "city", options_from_collection_for_select(City.all, "id", "name"), :prompt => "Select city" %>

<br><br><br>

<div id="replace_localities">
  <select id="locality">
    <option value="">Select locality</option>
  </select>
</div>

<br><br><br>

<div id="map" style="width: 700px; height: 500px"></div>

<script>

$(document).ready(function() {

  // InitMap
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: {lat: -34.397, lng: 150.644}
  });
  var geocoder = new google.maps.Geocoder();
  // InitMap

  // Load localities on change of City
  $("#city").change(function() {
    $.ajax({
      type: "POST",
      url: '/get_localities',
      dataType: 'html',
      data: { city_id: $(this).val() },
      success: function(data) {
        $("#replace_localities").html(data);
        $("#locality").change(function() {
          geocodeAddress(geocoder, map);
        });
      }
    });
  });
  // Load localities on change of City
});

// Function for reloading a map based on the locality select
function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
// Function for reloading a map based on the locality select
</script>

<!-- Load Google API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiGyMd3TZy5gD4JbIVulawUBJ-h5DByHs"></script>
<!-- Load Google API -->
